<h2>Houses</h2>
<% @houses.each do |h| %>
<div class="row">
  <div class="col s12 m6">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title"><%= h.address%></span>
        <ul>
          <li><%= h.house_type%></li>
          <li><%= h.built%></li>
          <li><%= h.sqft%></li>
          <li><%= h.last_sold_date%></li>
          <li><%= h.last_sold_price%></li>
          <li><%= h.tax_assessment_year%></li>
          <li><%= h.tax_assessment %></li>
        </ul>
      </div>
      <button class="delete-house" data-house-id="<%= h.id%>"> Delete </button>
    </div>
  </div>
</div>
<%end%>
